.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  margin: 20px;
}

.table{
  border-collapse: collapse;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.header-row{
    border: 2px solid red;
    background: rgb(255, 102, 0);
    color: white;
    font-weight: bold;
    padding: 5px;
}
.body {
  padding: 5px;
}

.body-row{
    background: rgba(204, 209, 207, 1);
}

.body-cell{
  padding: 5px;
  border: 2px solid rgb(71, 71, 71);
}

.header-cell{
  padding: 10px;
  border-right: 2px solid red;
}

.status-and-filter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.global-filter-input{
  padding: 5px;
}